torch>=2.1.2
transformers==4.39.3
datasets==2.18.0
accelerate==0.28.0
peft==0.10.0
trl==0.8.1
bitsandbytes==0.43.0
scipy
einops
sentencepiece
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib
fire
packaging
rouge
